#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}
.table th {
  background-color: #384464;
  color: white;
  text-align: left;
  padding-right: 20px;
}
.table td::before{
  text-overflow: ellipsis;
}
.table td {
  white-space: nowrap;
  padding: 5px;
}
.table tr:nth-child(odd){
  background-color: #dbd8d8;
}
.table {
  display: flex;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-right: 100px;
}
table{
  border-collapse: collapse;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
