#root {
  width: auto;
  margin: 0;
  padding: 2rem;
}

.table th {
  background-color: #384464;
  color: white;
  text-align: left;
  padding-right: 20px;
}

.table td::before {
  text-overflow: ellipsis;
}

.table td:nth-child(1) {
  width: 200px;
}


.table td {
  white-space: nowrap;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  min-width: 100px;
}

.table tr:nth-child(odd) {
  background-color: #dbd8d8;
}

.table {
  width: auto;
  text-align: center
}

table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
  display: inline-table;
}

.input>label {
  font-size: 2em;
}

.Search>input {
  padding-right: 30px;
  height: 40px;
  width: 200px;
}

.Tools {
  text-align: center;
  width: auto;
}

.End {
  float: left;
  display: block;
}

.City>select {
  width: 200px;
  height: 34px;
  text-align: center;
}


.City {
  float: right;
  display: block;
  width: 200px;
}

.Start {
  float: left;
  display: block;
}

.Dates {
  display: inline-block
}

.End>input,
.Start>input,
.City>select {
  font-size: 1.5em;
  margin: 0px 10px 0px 10px;
}

.Search {
  margin: 0px 0px 20px 100px;
  display: inline-block;
  text-align: center;
}

.Start>h3,
.End>h3,
.City>h3 {
  background-color: #384464;
  color: white;
}

.input input {
  font-size: 1.5em;
  margin: 20px;
}

.input>div>button {
  width: 500px;
}

.input {
  text-align: center;
  padding: 100px;
}

.Link {
  transform: rotate(45deg);
}